@metacharset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100vh;
  width: 100vw;
  
}

body {
  background:url('../imagens/fundo-madeira.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

section#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
  height: 631px;
  width: 312px;
  background:url('../imagens/frame-iphone.png');
  
}

iframe#tela {
  position: relative;
  top: 80px;
  left: 22px;
  width: 269px;
  height: 471px;
  
}
  
section#redes-sociais img {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
  box-sizing: border-box;
} 

section#redes-sociais img:hover {
  border: 2px solid rgba(255, 255, 255, 0.637); /*Aplica a borda na imagem*/
  transform: translate(-2px, -2px); /*Recua a imagem com píxel negativo para fazer um efeito de movimento em direção à esquerda*/
  transition: transform .5s; /*Faz uma movimentação mais suave dos botões*/
}

